absl-py==0.15.0
astunparse==1.6.3
attrs==22.2.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2024.2.2
charset-normalizer==2.0.12
clang==5.0
cycler==0.11.0
dataclasses==0.8
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
flatbuffers==1.12
future==0.18.3
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.48.2
h5py==3.1.0
idna==3.7
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1620912934572/work/dist/ipykernel-5.5.5-py3-none-any.whl
ipython==5.8.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
joblib==1.1.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.9.2
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.7
matminer==0.6.4
matplotlib==3.3.3
monty==2023.9.25
mpmath==1.3.0
networkx==2.5.1
numpy==1.19.5
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==21.3
palettable==3.3.2
pandas==1.1.5
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.4.0
Pint==0.17
plotly==5.18.0
prompt-toolkit==1.0.15
protobuf==3.19.6
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.5.1
pyasn1-modules==0.3.0
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pymatgen==2020.12.31
pymongo==4.1.1
pyparsing==3.0.7
pyrsistent==0.18.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-version==0.0.2
pytz==2023.3.post1
pyzmq==19.0.2
requests==2.27.1
requests-oauthlib==2.0.0
rsa==4.9
ruamel.yaml==0.18.3
ruamel.yaml.clib==0.2.8
scikit-learn==0.24.0
scipy==1.5.4
seaborn==0.11.2
simplegeneric==0.8.1
six==1.15.0
spglib==2.0.2
sympy==1.9
tabulate==0.8.10
tenacity==8.2.2
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.2
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl==3.1.0
tornado==5.1.1
tqdm==4.64.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1631041982274/work
typing-extensions==3.7.4.3
uncertainties==3.1.7
urllib3==1.26.18
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
Werkzeug==2.0.3
wrapt==1.12.1
zipp==3.6.0
